header {
    background-color: gray;
    text-align: center;
}
body {
    background-color: brown;
}
div{ 
    background-color: rosybrown;
    margin-bottom:20%;
    margin-top:5%;
}
.Karte{ 
    width:100px;
    height:150px;
    float: left;
    margin:10px;
    border-radius: 10px;
    border-color: #fff;
    border-width: 5px;
    border-style: solid;
    color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 15px #333; 
}

#Spielerdeck .Karte, #Gegnerdeck .Karte {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:0.5em;
    }

#Ablagestapel .Karte{
    margin-top: 0em;
}

.Karte .Verdeckt {
    background-color: rgb(194, 13, 43);
}

#Kartenstapel .Karte {
    margin-top: 0em;
}

.Kartenzahl {
    color: black;
    margin-left:30%;
    padding: 10%;
    padding-top: 0.5em;
    font-size: 2.5em;
    
}

.Blau {
    background-color: blue;
}

.Rot{
    background-color: red;
}

.Grün{
    background-color: green;
}

.Gelb{
    background-color: yellow;
}

#Gegnerdeck{ 
    background-color: wheat;
    height:200px;
    width:100%;
    clear:both;
    margin-bottom: -1%;
}

#Kartenstapel{
    background-color:rgb(3, 151, 3);
    height:150px;
    width:75px;
    float:left;
    margin-bottom: 6%;
    margin-left: 20%;
    
}

#Ablagestapel{
    background-color:rgba(99, 18, 42, 0.856);
    height:150px;
    width:75px;
    float:left;
    margin-bottom: 6%;
    margin-left: 20%;
    
}

#Spielerdeck{
    background-color: wheat;
    height:200px;
    width:100%;
    clear:both;
    margin-bottom: -75%;
    
}