header {
    background-color: gray;
    text-align: center;
}
body {
    background-color: brown;
}
div{ 
    background-color: rosybrown;
    margin-bottom:20%;
    margin-top:5%;
}
.Karte{ 
    height:138px;
    width:90px;
    border-style: solid;
    border-radius: 18px;
}

#HandkartenSpieler .Karte, #HandkartenGegner .Karte {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:0.5em;
    }

#Ablagestapel .Karte{
    margin-top: 0em;
}

.Karte .Verdeckt {
    background-color: rgb(194, 13, 43);
}

#Kartenstapel .Karte {
    margin-top: 0em;
}

.Wertigkeit {
    color: black;
    margin-left:24%;
    padding-top: -3em;
    font-size: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Blau {
    background-color: blue;
}
.Rot{
    background-color: red;
}
.Grün{
    background-color: green;
}
.Gelb{
    background-color: yellow;
}

#HandkartenGegner{ 
    background-color: wheat;
    height:200px;
    width:100%;
    clear:both;
    margin-bottom: -1%;
}

#Kartenstapel{
    height:150px;
    width:75px;
    float:left;
    margin-bottom: 6%;
    margin-left: 20%;
    
}

#Ablagestapel{
    box-shadow: 10px 20px 30px grey;
    height:150px;
    width:75px;
    float:left;
    margin-bottom: 6%;
    margin-left: 20%;
    
}

#HandkartenSpieler{
    background-color: wheat;
    height:200px;
    width:100%;
    clear:both;
    margin-bottom: -75%;
    
}