header {
    background-color: gray;
    text-align: center;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: rgb(83, 55, 26);
}
div{ 
    background-color: rgb(24, 21, 21);
    margin-bottom:20%;
    margin-top:5%;
}
.Karte{ 
    height:138px;
    width:90px;
    border-style: solid;
    border-radius: 14px;
}

#HandkartenSpieler .Karte, #HandkartenGegner .Karte {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:0.5em;
    }

#Ablagestapel .Karte{
    margin-top: 0em;
}

.Karte .Verdeckt {
    background-color: rgb(47, 41, 41);
}

#Kartenstapel .Karte {
    margin-top: 0em;
}

.Wertigkeit {
    color: black;
    margin-left:24%;
    padding-top: -3em;
    font-size: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Blau {
    background-color: rgb(65, 65, 219);
}
.Rot{
    background-color: rgb(233, 59, 59);
}
.Grün{
    background-color: rgb(56, 175, 56);
}
.Gelb{
    background-color: rgb(231, 231, 47);
}

#HandkartenGegner{ 
    background-color: rgb(251, 238, 212);
    height:230px;
    width:100%;
    clear:both;
    margin-bottom: -3%;
}

#Kartenstapel{
    height:100px;
    width:75px;
    float:left;
    margin-bottom: 6%;
    margin-left: 20%;
}

#Ablagestapel{
    height:100px;
    width:75px;
    float:left;
    margin-bottom: 6%;
    margin-left: 20%;
}

#HandkartenSpieler{
    background-color: rgb(251, 238, 212);
    height:230px;
    width:100%;
    clear:both;
    margin-bottom: -75%;
}