/* stylesheet.css für Aufgabe 03 */
header
{
    width: 100%;
    clear: left;
    background-color: #249E3F;
}
h1
{
    text-align: center;
    font-size: 1.9em;
    color: #1E1405;
    margin: 0%;
}
ul
{
    text-align: center;
    list-style-type: none;
    padding: 5px;
    background-color: #EC7D0B;
}
li
{
    color: antiquewhite;
    display: inline;
    font-size: 1.2em;
    padding: 10px;
}
li:hover
{
    text-decoration: underline;
    cursor: pointer;
    background-color: black;
}
aside
{
    width: 15%;
    background-color: #249E3F;
    overflow: auto;
    z-index: 100;
}
.left
{
    float: left;
}
.left:hover
{
    width: 20%;
    position: absolute;
    transition: 300ms;
}
body {
    margin: 0;
    background-color: #249E3F;
    font-family: fantasy;
    font-size: 1.9em;
    color: #1E1405;
}
p {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.1em;
    color: #1E1405;

}
section {
    background-color: #EC7D0B;
    width: 100%;
}
article {
    background-color: #EC7D0B;
    width: 100%;
}
img {
display: block;
margin-left: auto;
margin-right: auto;
height: auto;
width: 30%;
border-radius: 5px;
}
   